@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap');


.carousel {
    position: relative;
    text-align: center;
}

.contentSlider {
    position: absolute;
    left: 45%;
    top: 40%;
}

.slide {
    position: relative;
    filter: brightness(70%);
}

.carousel-title {
    color: #372727;
    font-family: 'Fjalla One', sans-serif;
    font-size: 46px;
    text-align: center;
}

.boutique-button {
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width: 768px) {
    .carousel-title {
        font-size: 26px;
    }
}