@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap');


.carousel-slide {
    position: relative;
    filter: brightness(0.7);
    /* Filtre noir légèrement transparent */
}

.carousel-title {
    color: #FFFFFF;
    font-family: 'Fjalla One', sans-serif;
    font-size: 46px;
    /* Version bureau */
    text-align: center;
}

.carousel-button {
    color: #FFFFFF;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

@media (max-width: 767px) {

    /* Version mobile */
    .carousel-title {
        font-size: 26px;
    }
}