@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap');

/* Pour toutes les tailles d'écran */
main {
    text-align: center;
    vertical-align: center;
    line-height: 100vh;
    margin-left: 40px;
    /* Marge de 40px à gauche pour la version bureau */
    margin-right: 40px;
    /* Marge de 40px à droite pour la version bureau */
}

.navbar {
    margin-bottom: 0px;
}

.image {
    margin-top: 20px;
}

h1 {
    color: #B65F28;
    margin-left: 40px;
    /* Marge de 40px à gauche pour la version bureau */
    margin-right: 40px;
    /* Marge de 40px à droite pour la version bureau */
}

h2 {
    color: #B65F28;
    font-weight: bold;
    margin-left: 40px;
    /* Marge de 40px à gauche pour la version bureau */
    margin-right: 40px;
    /* Marge de 40px à droite pour la version bureau */
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

strong {
    margin-left: 40px;
}

select {
    margin-left: 40px;
}

button {
    background-color: #55C0CF;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 7px 7px;
    border-radius: 10px;
    border: none;
    margin-left: 40px;
}

/* Version mobile */
@media (max-width: 768px) {
    .image {
        width: 50%;
        max-width: 300px;
        margin: auto;
    }

    p {
        margin: 20px;
        margin-right: 20px;
    }

    strong {
        margin-left: 20px;
    }

    select {
        margin-left: 20px;
    }

    button {
        background-color: #55C0CF;
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 7px 7px;
        border-radius: 10px;
        border: none;
        margin-left: 20px;
    }

    main {
        margin: 20px;
        /* Nouvelle règle pour la version mobile */
    }

    h1,
    h2 {
        margin: 20px;
        /* Nouvelle règle pour la version mobile */

    }
}