@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap');


.filter-container {
    padding: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #55C0CF;
}

.categories h2,
.price h2,
.rating h2 {
    margin: 0;
    color: #FFFFFF;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.selectors {
    display: flex;
    align-items: center;
    gap: 5px;

}

.selectors select {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}