@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap");

/* Styles pour les écrans de grande taille */
.footer {
    background-color: #2c1e1e;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.column {
    align-items: flex-start;
    width: 50%;
}

.column-title {
    color: #ffd543;
    font-size: 23px;
    text-align: left;
    font-family: "Fjalla One", sans-serif;
}

.column-text {
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    font-family: "Fjalla One", sans-serif;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon img {
    height: 50%;
    width: 50%;
    width: 35px;
}

/* Styles pour les écrans de taille moyenne et petite */
@media only screen and (max-width: 768px) {
    .footer {
        flex-wrap: wrap;
    }

    .column {
        width: 100%;
        margin-bottom: 20px;
    }

    .column-title {
        font-size: 20px;
    }

    .column-text {
        font-size: 14px;
    }

    .social-icon img {
        width: 25px;

    }
}