@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap');

/* Navbar.css */

/* Styles pour la version ordinateur */
.navbar {
    background-color: #2C1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px;

}

.logo img {
    width: 50px;
    float: left;
}

.navbar .menu-toggle:not(.open) {
    display: none;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centrer horizontalement */
    height: 100%;

}

.links a {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
    margin-right: 10px;

}

.cart img {
    width: 30px;
    height: 30px;
}

/* Styles pour la version mobile */
@media (max-width: 768px) {
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links a {
        margin: 5px;
    }

    h1 {
        font-size: 30px;
    }

    .cart {

        background-color: transparent;
        border: none;

        cursor: pointer;

    }

    .menu-toggle {
        color: #FFFFFF;

    }

    button.cart {
        margin-top: 15px;

    }
}